# based on: https://miniflux.app/docs/installation.html#docker

version: '3.4'
services:
  miniflux:
    image: docker.io/miniflux/miniflux:2.2.16
    container_name: miniflux
    restart: unless-stopped
    ports:
      - "8070:8080"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db/miniflux?sslmode=disable
      - RUN_MIGRATIONS=1
      - CREATE_ADMIN=1
      - ADMIN_USERNAME=${ADMIN_USERNAME}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - METRICS_COLLECTOR=1
      - METRICS_ALLOWED_NETWORKS=10.89.0.0/16,100.64.0.0/10,192.168.3.0/24
      - BATCH_SIZE=20
      - BASE_URL=${BASE_URL}
    labels:
      # watch all tags
      - diun.watch_repo=true
      # maximum number of tags to watch
      - diun.max_tags=3
      # sort by semantical versioning order
      - diun.sort_tags=semver
      # regular expression to filter tags
      - diun.include_tags=^\d+\.\d+\.\d+$
      # enable diun
      - diun.enable=true

  db:
    image: docker.io/library/postgres:18.1
    container_name: miniflux-postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - ./data:/var/lib/postgresql/18/docker
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "miniflux"]
      interval: 10s
      start_period: 30s
    labels:
      # watch all tags
      - diun.watch_repo=true
      # maximum number of tags to watch
      - diun.max_tags=3
      # sort by semantical versioning order
      - diun.sort_tags=semver
      # regular expression to filter tags
      - diun.include_tags=^\d+\.\d+$
      # enable diun
      - diun.enable=true

networks:
  miniflux:
    enable_ipv6: true
