version: "3"

services:
  uptime-kuma:
    image: docker.io/louislam/uptime-kuma:2.1.0-rootless
    restart: unless-stopped
    container_name: uptime-kuma
    ports:
      - 3001:3001
    volumes:
      - ./data:/app/data
      - ../nginx/self_signed/rootCA.crt:/ca.crt:ro
    environment:
      NODE_EXTRA_CA_CERTS: '/ca.crt' # make node.js accept cert
      TZ: UTC
    cap_add:
      - NET_RAW
    labels:
      # watch all tags
      - diun.watch_repo=true
      # maximum number of tags to watch
      - diun.max_tags=3
      # sort by semantical versioning order
      - diun.sort_tags=semver
      # regular expression to filter tags
      - diun.include_tags=^\d+\.\d+\.\d+-rootless$
      # enable diun
      - diun.enable=true

networks:
  kuma:
    enable_ipv6: true
